.main-longCard {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.images-three {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.islam {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.longCard {
  display: flex;
  gap: 25px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  background-color: #2a313b0d;
  padding: 10px 10px 10px 10px;
}

.images-three > img {
  width: 202px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.big-image > img {
  width: 410px;
  height: 319px;
  object-fit: cover;
  border-radius: 10px;
}
.nav-title {
  display: flex;
  justify-content: space-between;
}
.year {
  font-family: "Montserrat-light";
  color: rgb(37, 36, 36);
  font-size: 18px;
}
.dollar {
  font-family: "Montserrat-light";
  color: rgb(37, 36, 36);
  font-size: 18px;
}
.tesla-model {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: bold;
  color: rgb(37, 36, 36);
}

.extra-info {
  margin-top: 30px;
}

.type {
  margin-top: 15px;
}

.button-more {
  margin-top: 87px;
  display: flex;
  justify-content: flex-end;
}

.button-more > button {
  font-family: "Arial-regular";
  width: 274px;
  height: 45px;
  background-color: black;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.titles-longCard {
  width: 600px;
}

.extra-info-item {
  font-family: "Montserrat-light";
  color: #8b8b8b;
}

.new {
  font-family: "Montserrat-medium";
  width: 70px;
  height: 35px;
  border-radius: 10px;
  background-color: #dedfe1;
  display: flex;
  align-items: center;
  justify-content: center;
}
