@font-face {
  font-family: "tildasans-thin";
  src: url("../fonts/TildaSans-Light.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "europe-text";
  src: url("../EuropeExt/europeext_bold_italic.otf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.logo-image {
  width: 90px;
  height: 61px;
  color: #fff;
}

.navbar-nav {
  display: flex;
  gap: 55px;
}

.navbar-nav > li {
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: #cfcece;
  font-family: "tildasans-thin";
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  border: 1px solid #fff;
  margin-top: 20px;
}

.nav-item:hover .dropdown {
  opacity: 1;
}

.dropdown ul {
  list-style-type: none;
  padding: 10px;
}

.dropdown a {
  text-decoration: none;
  color: #ffffff;
  font-family: "tildasans-thin";
  font-size: 16px;
}

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  color: var(--textColor);
}

.navbar-container .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

.navbar-container div,
nav {
  display: flex;
  align-items: center;
}

nav a {
  font-size: 1.5rem;
}

.navbar-container .nav-btn {
  visibility: visible;
  opacity: 1;
}

.navbar-container nav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: black;
  transition: 0.5s;
}

.navbar-container .responsive_nav {
  transform: translateY(100vh);
  z-index: 99;
}

nav .nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.container-util {
  display: flex;
  gap: 30px;
  align-items: center;
}

.contacts-button {
  background-color: transparent;
  border-radius: 10px;
  border-color: #00c9ae;
  width: 144px;
  height: 41px;
  color: white;
}
