//! card

.container-card {
  margin-top: 45px;
}

.slider-image {
  width: 400px;
  height: 210px;
  object-fit: cover;
  border-radius: 4px;
}

.wrapper-card {
  display: flex;
  justify-content: space-between;
}
.card-titles {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.characteristics {
  font-family: "Montserrat";
  margin-top: 10px;
  background-color: #f3f6f5;
  color: black;
  border-radius: 4px;
  width: 92px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.card-left > h2 {
  font-family: "tildasans-semibold";
  font-weight: 900;
  font-size: 20px;
}

.card-left > div {
  font-family: "tildasans-thin";
  margin-top: 5px;
  font-size: 16px;
}

.card-price {
  font-family: "Montserrat-bold";
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}

.more-card {
  width: 211px;
  height: 48px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s; /* Анимация изменения цвета и трансформации */
  cursor: pointer; /* Изменяем курсор при наведении */
  font-family: "Montserrat";
}

.more-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-card:hover {
  background-color: #ff0000; /* Новый цвет фона при наведении */
  color: #fff; /* Изменяем цвет текста при наведении */
  transform: scale(1.05); /* Увеличение размера кнопки при наведении */
  border: none;
}

.characteristics {
  font-weight: bold;
}

.card-cars {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 400px;
  height: 428px;
}

.container-card-title {
  padding: 15px 15px 15px 15px;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.card-left > h2 {
  font-family: "Montserrat-medium";
  font-weight: 900;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.card-left > div {
  font-family: "Montserrat-light";
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30ch;
}

//! swapper
.checkk {
  width: 100%;
  object-fit: cover;
}
